name: Update Commodity Prices

on:
  schedule:
    - cron: '0 11,23 * * *'
  workflow_dispatch:

# ADD THESE TWO LINES HERE
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add commodities.json
          git commit -m "Update commodity prices" || echo "No changes to commit"
          git push
